<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/odometer.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <link rel="shortcut icon" href="assets/images/icon.png" type="image/x-icon">

    <title>ShowTime - 404 Error</title>

    <style type="text/css" data-asas-style="">
        body,
        div,
        a,
        p,
        span {
            user-select: text !important;
        }

        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            cursor: auto;
            user-select: text !important;
        }

        ::selection {
            background-color: #338FFF !important;
            color: #fff !important;
        }


        #log {
            background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
            -webkit-transition: all ease 0.3s;
            transition: all ease 0.3s;
            border-radius: 30px;
            width: auto;
            /* padding-top: 20px; */
            padding: 0 50px;
            height: 50px;
            text-transform: uppercase;
            margin: 0 auto;
            font-weight: bold;
            color: white;
        }
    </style>
</head>

<body>
    <!-- ==========Preloader========== -->
    <div class="preloader" style="display: none;">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->

    <!-- ==========Four-Not-Four-Section========== -->
    <section class="section-404 padding-top padding-bottom">
        <div class="container">
            <div class="thumb-404">
                <img src="assets/images/404.png" alt="404">
            </div>
            <h3 class="title">Oops.. looks like you got lost :( </h3>
            <a href="home" class="custom-button">Back To Home <i class="fas fa-angle-double-right"></i></a>
        </div>
    </section>
    <!-- ==========Four-Not-Four-Section========== -->


    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/magnific-popup.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/countdown.min.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/viewport.jquery.js"></script>
    <script src="assets/js/nice-select.js"></script>
    <script src="assets/js/main.js"></script>


</body>

</html>