<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/odometer.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <link rel="shortcut icon" href="assets/images/icon.png" type="image/x-icon">

    <title>ShowTime - Admin Dashboard</title>

    <style type="text/css" data-asas-style="">
        body,
        div,
        a,
        p,
        span {
            user-select: text !important;
        }

        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            cursor: auto;
            user-select: text !important;
        }

        ::selection {
            background-color: #338FFF !important;
            color: #fff !important;
        }


        #log {
            background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
            -webkit-transition: all ease 0.3s;
            transition: all ease 0.3s;
            border-radius: 30px;
            width: auto;
            /* padding-top: 20px; */
            padding: 0 50px;
            height: 50px;
            text-transform: uppercase;
            margin: 0 auto;
            font-weight: bold;
            color: white;
        }

        .wrapper {
            background: #338FFF;
            width: 580px;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
            margin-left: 32%;
        }

        h2 {
            text-align: center;
        }

        hr {
            width: 100px;
            margin: 10px auto;
        }

        .members {
            display: flex;
            margin: auto;
        }

        .team-mem {
            margin: auto;
        }

        #op {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 10px;
        }

        h4,
        p {
            text-align: center;
            font-size: 12px;
            margin: 7px;
        }
    </style>
</head>

<body>

    <header class="header-section">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="home">
                        <img src="assets/images/logo.png" alt="logo">
                    </a>
                </div>
                <ul class="menu">
                    <!-- <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#0" class="active">Home</a>
                        <ul class="submenu">
                            <li>
                                <a href="#0" class="active">Home One</a>
                            </li>
                            <li>
                                <a href="index-2.html">Home Two</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="movies">movies</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#0">movies</a>
                        <ul class="submenu">
                            <li>
                                <a href="movie-grid.html">Movie Grid</a>
                            </li>
                            <li>
                                <a href="movie-list.html">Movie List</a>
                            </li>
                            <li>
                                <a href="movie-details.html">Movie Details</a>
                            </li>
                            <li>
                                <a href="movie-details-2.html">Movie Details 2</a>
                            </li>
                            <li>
                                <a href="movie-ticket-plan.html">Movie Ticket Plan</a>
                            </li>
                            <li>
                                <a href="movie-seat-plan.html">Movie Seat Plan</a>
                            </li>
                            <li>
                                <a href="movie-checkout.html">Movie Checkout</a>
                            </li>
                            <li>
                                <a href="popcorn.html">Movie Food</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#even">events</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#1">events</a>
                        <ul class="submenu">
                            <li>
                                <a href="events.html">Events</a>
                            </li>
                            <li>
                                <a href="event-details.html">Event Details</a>
                            </li>
                            <li>
                                <a href="event-speaker.html">Event Speaker</a>
                            </li>
                            <li>
                                <a href="event-ticket.html">Event Ticket</a>
                            </li>
                            <li>
                                <a href="event-checkout.html">Event Checkout</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#spor">sports</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#2">sports</a>
                        <ul class="submenu">
                            <li>
                                <a href="sports.html">Sports</a>
                            </li>
                            <li>
                                <a href="sport-details.html">Sport Details</a>
                            </li>
                            <li>
                                <a href="sports-ticket.html">Sport Ticket</a>
                            </li>
                            <li>
                                <a href="sports-checkout.html">Sport Checkout</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#0">pages</a>
                        <ul class="submenu">
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                            <li>
                                <a href="apps-download.html">Apps Download</a>
                            </li>
                            <li>
                                <a href="sign-in.html">Sign In</a>
                            </li>
                            <li>
                                <a href="sign-up.html">Sign Up</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#0">blog</a>
                        <ul class="submenu">
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li>
                                <a href="blog-details.html">Blog Single</a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li>
                        <a href="contact.html">contact</a>
                    </li> -->
                    <li class="header-button pr-0">
                        <a href="index">log out</a>
                    </li>
                </ul>
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>


    <br><br><br>
    <br><br><br>
    <br><br>

    <!-- "Open Sans", sans-serif; -->

    <h2 class="title">Welcome
        Back, Admin</h2>

    <!-- <h1 class="display-3" style="text-align: center;">Welcome
        Back, Admin</h1> -->

    <br><br><br>
    <br>
    <!-- <br><br><br> -->


    <div class="wrapper">
        <h3 style="text-align: center;">Update Content</h3>
        <hr>
        <div class="members">
            <div class="team-mem">
                <a href="/edit_movi"><img src="assets/images/tv.png" id="op"></a>
                <h4>Movies</h4>
                <!-- <p>Graphic Designer</p> -->
            </div>
            <div class="team-mem">
                <a href="/edit_admin"><img src="assets/images/login.png" id="op"></a>
                <h4>Admins</h4>
                <!-- <p>Soft - Engineer</p> -->
            </div>
            <div class="team-mem">
                <a href="/edit_user"><img src="assets/images/man.png" id="op"></a>
                <h4>Users</h4>
                <!-- <p>Web Developer</p> -->
            </div>
        </div>
    </div>


    <script src="http://pixner.net/boleto/demo/assets/js/jquery-3.3.1.min.js"></script>
    <script src="http://pixner.net/boleto/demo/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="http://pixner.net/boleto/demo/assets/js/plugins.js"></script>
    <script src="http://pixner.net/boleto/demo/assets/js/bootstrap.min.js"></script>
    <script src="http://pixner.net/boleto/demo/assets/js/heandline.js"></script>
    <script src="http://pixner.net/boleto/demo/assets/js/isotope.pkgd.min.js"></script>
    <script src="http://pixner.net/boleto/demo/assets/js/magnific-popup.min.js"></script>
    <script src="http://pixner.net/boleto/demo/assets/js/owl.carousel.min.js"></script>
    <script src="http://pixner.net/boleto/demo/assets/js/wow.min.js"></script>
    <script src="http://pixner.net/boleto/demo/assets/js/countdown.min.js"></script>
    <script src="http://pixner.net/boleto/demo/assets/js/odometer.min.js"></script>
    <script src="http://pixner.net/boleto/demo/assets/js/viewport.jquery.js"></script>
    <script src="http://pixner.net/boleto/demo/assets/js/nice-select.js"></script>
    <script src="http://pixner.net/boleto/demo/assets/js/main.js"></script>


</body>

</html>